.content-wrapper {
    width: 100%;
    background-color: #FF69B4;
    min-height: 720px;
}

.mid {
    background-color: #D95FB1;
}

.bot {
    background-color: #B255AD;
}

<<<<<<< HEAD

.banner-wrapper {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../Images/xQc-smile.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: pink;
}

.banner-title {
    font-weight: bold;
    font-size: 32px;
}

.category-heading {
    font-size: 64px;
    color: white;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 16px;
}

@media only screen and (max-width: 800px) {
    .banner-wrapper {
        background-attachment: scroll;
    }
    .content-wrapper{
        height: 270px;
    }

    .category-heading {
        font-size: 48px;
    }
}

@media only screen and (max-width: 600px) {
    .banner-title {
        font-weight: bold;
        font-size: 24px;

@media only screen and (max-width: 500px) {
    .category-heading {
        font-size: 32px;
    }
}