.content-wrapper {
    width: 100%;
    background-color: #FF69B4;
    min-height: 720px;
}

.mid {
    background-color: #D95FB1;
}

.bot {
    background-color: #B255AD;
}

.category-heading {
    font-size: 64px;
    color: white;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 16px;
}

@media only screen and (max-width: 800px) {
    .category-heading {
        font-size: 48px;
    }
}

@media only screen and (max-width: 500px) {
    .category-heading {
        font-size: 32px;
    }
}