.menu-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 256px;
    height: 64px;
    border-radius: 4px;
    margin: 8px;
    background-color: #D95FB1;
    color: pink;
    font-size: 24px;
}

.menu-button-wrapper:hover {
    background-color: #FF69B4;
    cursor: pointer;
}

@media only screen and (min-width: 800px) {
    .menu-button-wrapper {
        width: 512px;
        height: 256px;
        font-size: 48px;
    }
}